<div class="row"> 
    <h2>ESTUDIOS</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Estudio 1</h3>--<h4>fecha</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium deleniti atque quia reiciendis repudiandae explicabo voluptatem voluptas vel, amet odio cupiditate aspernatur cumque quod maxime assumenda omnis sequi qui voluptate?
                </p>
            </li>
            <li>
                <h3>Estudio 2</h3>--<h4>fecha</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium deleniti atque quia reiciendis repudiandae explicabo voluptatem voluptas vel, amet odio cupiditate aspernatur cumque quod maxime assumenda omnis sequi qui voluptate?
                </p>
            </li>
            <li>
                <h3>Estudio 3</h3>--<h4>fecha</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium deleniti atque quia reiciendis repudiandae explicabo voluptatem voluptas vel, amet odio cupiditate aspernatur cumque quod maxime assumenda omnis sequi qui voluptate?
                </p>
            </li>
        </ul>
       
    </div>
</div>