
<section id="estudios" class="estudios">
    <div class="container" data-aos="fade-up">   
        <div class="row">
            <div class="col-lg-6">
                <h3 class="estudios-title">Estudios</h3>
                    <div class="estudios-item">
                        <h4>Crucianelli S.A</h4>
                        <h5>2010 - 2022</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                    </div>
                    <div class="estudios-item">
                        <h4>Crucianelli S.A</h4>
                        <h5>2010 - 2022</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                    </div>
                    <div class="estudios-item">
                        <h4>Crucianelli S.A</h4>
                        <h5>2010 - 2022</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                    </div>
            </div>
        </div>
    </div>
  </section>
