<section id="estudios" class="estudios">
    <div class="container" data-aos="fade-up">   
        <div class="row">
            <div class="col-lg-10">
                <h3 class="estudios-title">Estudios</h3>
                <div class="addestu" id="estudio" data-bs-toggle="modal" data-bs-target="#addestu" *ngIf="isLogged">
                    <a><i class='bx bx-plus-circle'></i></a>
                  </div>


                    <div class="estudios-item" *ngFor="let Estudio of estu">
                      <div class="editdelete" >   
                      <div class="destudio" (click)="delete(Estudio.id)" *ngIf="isLogged"><i class='bx bxs-message-square-x'></i></div>       
                      <div class="eestudio" id="editestudio" routerLink="/editestudio/{{Estudio.id}}"*ngIf="isLogged"><i class='bx bxs-message-square-edit'></i></div> 
                      <div class="pic">
                          <img src="{{Estudio.img}}" class="img-fluid" alt="" />
                      </div>          
                    </div>
                        <h4>{{Estudio.instituto}}</h4>
                        <h5>{{Estudio.fechaInicio}} - {{Estudio.fechaFin}}</h5>
                        <p>{{Estudio.nombre}}</p>
                        <p>{{Estudio.titulo}}</p>
                       
                     
                  </div>
            </div>
        </div>
    </div>
  </section>

<!-- agregar estudio-->
<div>
    <div>
      <div class="modal" id="addestu" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Agregar un nuevo estudio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>Por favor ingrese sus datos.</p>
              <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
    
                <div class="form-outline form-white mb-4">Nombre estudio
                  <label class="form-label" for="nombre"></label>
                  <input type="text" id="nombre" name="nombre" class="form-control form-control-lg"
                    [(ngModel)]="nombre" required />              
                </div>
    
                <div class="form-outline form-white mb-4">Instituto
                  <label class="form-label" for="descripcionE"></label>
                  <input type="text" id="instituto" name="instituto" class="form-control form-control-lg"
                    [(ngModel)]="instituto" required />              
                </div>
    
                <div class="form-outline form-white mb-4">Fecha inicio
                  <label class="form-label" for="fechaInicio"></label>
                  <input type="text" id="fechaInicio" name="fechaInicio" class="form-control form-control-lg"
                    [(ngModel)]="fechaInicio" required />
                </div>
    
                <div class="form-outline form-white mb-4">Fecha fin
                  <label class="form-label" for="puestoE"></label>
                  <input type="text" id="fechaFin" name="fechaFin" class="form-control form-control-lg"
                    [(ngModel)]="fechaFin" required />              
                </div>
    
                <div class="form-outline form-white mb-4">Titulo
                  <label class="form-label" for="fechaFin"></label>
                  <input type="text" id="titulo" name="titulo" class="form-control form-control-lg"
                    [(ngModel)]="titulo" required />             
                </div>            
    
                <div class="form-outline form-white mb-4">Link imagen
                  <label class="form-label" for="img"></label>
                  <input type="text" id="img" name="img" class="form-control form-control-lg"
                    [(ngModel)]="img" required />
                </div>
                
                <div class="d-grid gap-2 col-6 mx-auto">
                   <button type="submit" class="btn btn-success" routerLink="/home" data-bs-dismiss="modal">Aceptar</button>
                </div>
              </form>
              
            </div>
      </div>
    </div>
    </div>








<!--<section id="estudios" class="estudios">
    <div class="container" data-aos="fade-up">   
        <div class="row">
            <div class="col-lg-10">
                <h3 class="estudios-title">Estudios</h3>
                    <div class="estudios-item">
                        <h4>Crucianelli S.A</h4>
                        <h5>2010 - 2022</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                    </div>
                    <div class="estudios-item">
                        <h4>Crucianelli S.A</h4>
                        <h5>2010 - 2022</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                    </div>
                    <div class="estudios-item">
                        <h4>Crucianelli S.A</h4>
                        <h5>2010 - 2022</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                    </div>
            </div>
        </div>
    </div>
  </section>
-->