<div class="row"> 
    <h2>Mis Proyectos</h2>
    <div class="container"> 
        <div class="col-sm-12 col-md-7 col-lg-7" id="textoproyecto">
            <h3>Proyecto 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque deleniti laudantium rerum. Ut, omnis repellendus. Impedit accusamus iste neque, modi culpa facere, qui odit quisquam placeat, nostrum aliquid deleniti.</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1" id="imgproyecto"> 
        <img src="../../../assets/APLogo-20-20.png" class="img-fluid" id="img-imgproyecto">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7" id="textoproyecto">
        <h3>Proyecto 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque deleniti laudantium rerum. Ut, omnis repellendus. Impedit accusamus iste neque, modi culpa facere, qui odit quisquam placeat, nostrum aliquid deleniti.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1" id="imgproyecto"> 
    <img src="../../../assets/APLogo-20-20.png" class="img-fluid" id="img-imgproyecto">
</div>
<div class="col-sm-12 col-md-7 col-lg-7" id="textoproyecto">
    <h3>Proyecto 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque deleniti laudantium rerum. Ut, omnis repellendus. Impedit accusamus iste neque, modi culpa facere, qui odit quisquam placeat, nostrum aliquid deleniti.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1" id="imgproyecto"> 
<img src="../../../assets/APLogo-20-20.png" class="img-fluid" id="img-imgproyecto">
</div>
</div>