.row {
    background-color: gray;
    padding: 20px;
}
.container {
    white: auto;
}

#textoproyecto, #imgproyecto {
    display: inline-block;
    text-align: justify;
}

#img-imgproyecto{
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}