<div class="row">
    <div class="container">
    <div> 
            <a href=""> <img src="../../../assets/fb_icon-icons.com_65434.png" id="RedesLogo"> </a>
            <a href=""> <img src="../../../assets/github_logo_icon_143772.png" id="RedesLogo"> </a>
            <a href=""> <img src="../../../assets/instagram_f_icon-icons.com_65485.png" id="RedesLogo"> </a>
            <a href=""> <img src="../../../assets/whatsapp.png" id="RedesLogo"> </a>
            <a href=""> <img src="../../../assets/youtube.png" id="RedesLogo"> </a>
        </div>
    </div>
</div>  