.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#APlogo {
    width: 120px;
   
}
#RedesLogo{
    width: 20px;
}

#RedesLogo{
    margin: 2px;
}

#login{
    margin: 3px;
    align-items: left;
}

#logo-ap-barra {
    box-shadow: rgba(50, 50, 93, 0.25) 50px 80px 100px 20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(232, 234, 236, 0.35) 10px -20px 16px 0px inset;
}