
.experiencia .icon-box {
  padding: 20px 10px;
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
  width: 640px;
  height: 300px;
}

.experiencia .icon-box .icon {
  width: 64px;
  height: 64px;
  background: #37517e;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.experiencia .icon-box .icon i {
  font-size: 28px;
}

.experiencia .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.experiencia .icon-box h4 a {
  color: #282828;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.experiencia .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.experiencia .icon-box:hover {
  transform: translateY(-10px);
  border-color: #595c5b;
}

.experiencia .icon-box:hover h4 a {
  color: #37517e;
}

#expe{
  margin-bottom: 15px;
}

.addexp a:hover i {
  color: #fff;
}

.addexp{
 
   font-size: 32px;
  margin-right: 30px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center; 
}

.card{
  margin: 5px;
  border-radius: 15px;
  width: 100%;
}

.imgexp{
  border-radius: 15px;
  height: 250px;
  width: 100%;
 
 }
.editdelete i{ 
   float:right;
   font-size: 32px;
   cursor: pointer;
}
.editdelete .bx {

    padding: 5px;
    color: rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    display: flex;
   ;
}
.editdelete div:hover i {
  color: rgb(248, 6, 6);
}