<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">Experiencia </h2>
      </div>

      

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../../assets/cru.jpg" class="img-fluid" alt="">
           
            <div class="portfolio-info">
              <h4>Crucianelli S.A</h4>
              
            </div>
          </div>
        </div>     
      </div>

    </div>
  </section>
