body{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    
}

.registration-form{
	padding-top: 50px;
    padding-bottom: 150px;
}

.registration-form form{
    background-color:transparent;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow:  20px 20px 20px 20px rgba(0, 0, 0, 0.075);
}
