<div class="row"> 
    <h2>SKILLS</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" > 
        <circle-progress
        [percent]="70"
        [backgroundStrokeWidth]= "0"
        [backgroundPadding]= "0"
        [radius]= "40"
        [space]="-10"
        [toFixed]="0"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#47c29d'"
        [outerStrokeGradientStopColor]="'#ba52ff'"
        [innerStrokeColor]="'#e8e8e8'"
        [innerStrokeWidth]="10"
        [title]="'HTML'"
        [animateTitle]= "false"
        [animationDuration]="3400"
        [showSubtitle]= "false"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [responsive]= "false"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" > 
        <circle-progress
        [percent]="65"
        [backgroundStrokeWidth]= "0"
        [backgroundPadding]= "0"
        [radius]= "40"
        [space]="-10"
        [toFixed]="0"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#47c29d'"
        [outerStrokeGradientStopColor]="'#ba52ff'"
        [innerStrokeColor]="'#e8e8e8'"
        [innerStrokeWidth]="10"
        [title]="'CSS'"
        [animateTitle]= "false"
        [animationDuration]="3400"
        [showSubtitle]= "false"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [responsive]= "false"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" > 
        <circle-progress
        [percent]="60"
        [backgroundStrokeWidth]= "0"
        [backgroundPadding]= "0"
        [radius]= "40"
        [space]="-10"
        [toFixed]="0"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#47c29d'"
        [outerStrokeGradientStopColor]="'#ba52ff'"
        [innerStrokeColor]="'#e8e8e8'"
        [innerStrokeWidth]="10"
        [title]="'JS'"
        [animateTitle]= "false"
        [animationDuration]="3400"
        [showSubtitle]= "false"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [responsive]= "false"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" > 
        <circle-progress
        [percent]="50"
        [backgroundStrokeWidth]= "0"
        [backgroundPadding]= "0"
        [radius]= "40"
        [space]="-10"
        [toFixed]="0"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#47c29d'"
        [outerStrokeGradientStopColor]="'#ba52ff'"
        [innerStrokeColor]="'#e8e8e8'"
        [innerStrokeWidth]="10"
        [title]="'GitHub'"
        [animateTitle]= "false"
        [animationDuration]="3400"
        [showSubtitle]= "false"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [responsive]= "false"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" > 
        <circle-progress
        [percent]="50"
        [backgroundStrokeWidth]= "0"
        [backgroundPadding]= "0"
        [radius]= "40"
        [space]="-10"
        [toFixed]="0"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#47c29d'"
        [outerStrokeGradientStopColor]="'#ba52ff'"
        [innerStrokeColor]="'#e8e8e8'"
        [innerStrokeWidth]="10"
        [title]="'Ingles'"
        [animateTitle]= "false"
        [animationDuration]="3400"
        [showSubtitle]= "false"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [responsive]= "false"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" > 
        <circle-progress
        [percent]="95"
        [backgroundStrokeWidth]= "0"
        [backgroundPadding]= "0"
        [radius]= "40"
        [space]="-10"
        [toFixed]="0"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#47c29d'"
        [outerStrokeGradientStopColor]="'#ba52ff'"
        [innerStrokeColor]="'#e8e8e8'"
        [innerStrokeWidth]="10"
        [title]="'Scrum'"
        [animateTitle]= "false"
        [animationDuration]="3400"
        [showSubtitle]= "false"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [responsive]= "false"
        >
        </circle-progress>
    </div>

      
</div>