.row{
    background-color: black;
    
}

footer {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px -5px 5px blanchedalmond;
}
.modalfooter {
    color: black;
    text-align: left;
    }