<button type="button" class="btn btn-outline-success" id="contactame" data-bs-toggle="modal" data-bs-target="#contactamemodal">CONTACTAME</button>

                      <div>
                        <div class="modal" id="contactamemodal" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Contactame</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Ingrese sus datos por favor.</h5>
                                  <p>Lo llamare a la brevedad.</p>
                                  <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                                  
                                  <div class="form-outline form-white mb-4">Nombre 
                                  <label class="form-label" for="nombre"></label>
                                  <input type="text" id="nombre" name="nombre" class="form-control form-control-lg"
                                    [(ngModel)]="nombre" required />              
                                  </div>

                                  <div class="form-outline form-white mb-4">Telefono 
                                    <label class="form-label" for="telefono"></label>
                                    <input type="text" id="telefono" name="telefono" class="form-control form-control-lg"
                                      [(ngModel)]="telefono" required />              
                                    </div>

                                    <div class="form-outline form-white mb-4">Correo 
                                      <label class="form-label" for="correo"></label>
                                      <input type="text" id="correo" name="correo" class="form-control form-control-lg"
                                        [(ngModel)]="correo" required />              
                                      </div>

                                      <div class="form-outline form-white mb-4">Mensaje
                                        <label for="mensaje" class="col-form-label"></label>
                                        <textarea type="text" id="mensaje" name="mensaje" class="form-control form-control-lg"
                                        [(ngModel)]="mensaje" required ></textarea>
                                      </div>

                                      <div class="d-grid gap-2 col-6 mx-auto">
                                        <button type="submit" class="btn btn-success" routerLink="/home" data-bs-dismiss="modal">Aceptar</button>
                                     </div>
                                  </form>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                      </div> 