<button type="button" class="btn btn-outline-success" id="contactame" data-bs-toggle="modal" data-bs-target="#contactamemodal">CONTACTAME</button>

                      <div>
                        <div class="modal" id="contactamemodal" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Contactame</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Ingrese sus datos.</h5>
                                  <p>Lo llamare a la brevedad.</p>
                                  <form>
                                    <div class="mb-3">
                                      <label for="nombrecontactame" class="col-form-label">Nombre:</label>
                                      <input type="text" class="form-control" id="nombrecontactame">
                                    </div>
                                    <div class="mb-3">
                                      <label for="empresacontactame" class="col-form-label">
                                        Empresa:</label>
                                        <input type="text" class="form-control" id="empresacontactame">
                                    </div>
                                    <div class="mb-3">
                                        <label for="correocontactame" class="col-form-label">
                                          Correo:</label>
                                          <input type="text" class="form-control" id="correocontactame">
                                      </div>
                                      <div class="mb-3">
                                        <label for="telefonocontactame" class="col-form-label">
                                          Telefono:</label>
                                          <input type="text" class="form-control" id="telefonocontactame">
                                      </div>
                                    <div class="mb-3">
                                        <label for="mensage-text" class="col-form-label">Mensaje:</label>
                                        <textarea class="form-control" id="mensage-text"></textarea>
                                      </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cerrar</button>
                                  <button type="button" class="btn btn-outline-success">Aceptar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> 