<div class="row">
        <div class="container">
            <div class="aplogo">
                  <img src="../../../assets/APLogo-20-20.png" id="APlogo">
            </div>
        
            <div class="social"> 
                <div> 
                    <a href=""> <img src="../../../assets/fb_icon-icons.com_65434.png" id="RedesLogo"> </a>
                    <a href=""> <img src="../../../assets/github_logo_icon_143772.png" id="RedesLogo"> </a>
                    <a href=""> <img src="../../../assets/instagram_f_icon-icons.com_65485.png" id="RedesLogo"> </a>
                    <a href=""> <img src="../../../assets/whatsapp.png" id="RedesLogo"> </a>
                    <a href=""> <img src="../../../assets/youtube.png" id="RedesLogo"> </a>

                      <button type="button" class="btn btn-outline-success" id="login">Login</button>
                </div>

            </div>
          

        </div>
</div>