<div class="container">
  <div class="row">
    <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-4" id="cardfoto">
      <img src="../../../assets/121.jpg" id="fotoperfil" class="img-fluid" />
      <div class="card-body">
        <p class="card-text" id="name">
          {{ persona.nombre }} {{ persona.apellido }}
        </p>
        <p>Full Stack Developer Jr.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="card" id="cardmi">
        <span>
            <h2>Acerca de mi...</h2>
            <p id="sobre mi">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
              culpa nam assumenda corrupti rerum consequatur doloremque numquam
              voluptatem obcaecati unde. Id odio nesciunt quae accusantium
              aperiam ab placeat quisquam voluptates.
            </p>
          </span>
      </div>
    </div>
  </div>

  <!--   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="card" id="cardnombre">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
                            <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
                            <p>Full Stack Developer Jr.</p>
                        </div>
                    </div>-->
</div>
