  <section id="sobremi" class="sobremi section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
            <div class="col-lg-6">
                <div class="persona d-flex align-items-start aos-init aos-animate"
                data-aos="zoom-in" data-aos-delay="100">
                <div class="pic">
                    <img src="../../../assets/nico.jpg" class="img-fluid" alt="" />
                </div>
                <div class="persona-info">
                    <h4>{{persona.nombre}} {{persona.apellido}}</h4>
                    <span></span>
                    <p>{{persona.titulo}}</p>
                    <p>{{persona.fechaNac}}</p>
                    <p>{{persona.domicilio}}</p>
                    <div class="social">
                       
                        <a href=""><i class='bx bxl-instagram'></i></a>
                        <a href=""><i class='bx bxl-github'></i></a>
                        <a href=""><i class='bx bxl-linkedin-square'></i></a> 
                     <!--    <li >
                            <div class="social">
                            <a href="{{social.link}}"><i class='{{social.nombre}}'></i></a>
                            </div>  
                        </li> -->
                    </div>

                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Acerca de mi...</h2>
                <p> {{persona.sobreMi}}
                 
                </p>
            </div>
            </div>
       </div>
    </section>
