    <section id="sobremi" class="sobremi section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
            <div class="col-lg-6">
                <div class="member d-flex align-items-start aos-init aos-animate"
                data-aos="zoom-in" data-aos-delay="100">
                <div class="pic">
                    <img src="../../../assets/121.jpg" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                    <h4>{{ persona.nombre }} {{ persona.apellido }}</h4>
                    <span></span>
                    <p>Full Stack Developer Jr.</p>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Acerca de mi...</h2>
                <p>
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
                aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
                quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.
                </p>
            </div>
            </div>
        </div>
    </section>
