.sobremi{
    background-color: transparent;
}
.row{
    background-color: transparent;
}

.sobremi .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: transparent;
    transition: 0.5s;
  }
  
  .sobremi .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .sobremi .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .sobremi .member:hover {
    transform: translateY(-10px);
  }
  
  .sobremi .member .member-info {
    padding-left: 30px;
  }
  
  .sobremi .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
  }
  
  .sobremi .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .sobremi .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
  }
  .sobremi .member p {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .sobremi .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
