<header id="header" class="fixed-top">
    <div class="container-12 d-flex align-items-center">
        <a href="https://argentinaprograma.inti.gob.ar/" class="logo me-auto"><img src="../../../assets/APLogo-20-20.png" alt="" class="img-fluid"></a>
           
                <div class="loginbuton" id="login" data-bs-toggle="modal" data-bs-target="#loginmodal">
                    <a><i class='bx bx-log-in'></i></a></div>           
            
             
    </div>
</header>
<div>
    <div class="modal" id="loginmodal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">   
                        </button>
                </div>
                <div class="modal-body">
                    <p>Ingrese sus datos.</p>
                        <form>
                            <div class="mb-3">
                                <label for="userlogin" class="col-form-label">User:
                                </label>
                                    <input type="text" class="form-control" id="userlogin">
                            </div>
                            <div class="mb-3">
                                <label for="passwordlogin" class="col-form-label">Password:
                                </label>
                            <input type="text" class="form-control" id="passwordlogin">
                            </div>
                        </form>
                </div>
            <div class="modal-footer">
                <a href="/login"> <i class='bx bx-user-check'></i> </a>
            </div>
        </div>
    </div>
</div>
</div> 
