#header {
    height: 50px;
    background: rgba(40, 58, 90, 0.9);
    margin:0px;
  }
  .container{
    margin:0px; 
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    height: 65px;
  } 

  #login{
    max-width: 30px;
    margin-right: 30px;
    cursor: pointer;
    
}
i {
  font-size: 45px;
}

.loginbuton a:hover i {
  color: #fff;
}